.container{
    margin: 20px;
}
h1{
    text-align: center;
    font-size: 46px;
    color: #2fa2c3;
}
.header__span{
    font-size: 18px;
    color: #666666;
    font-weight: 400;
}
.form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    max-width: 444px;
    height: 314px;
    margin-top: 33px;
    padding: 40px 71px;
    box-sizing: border-box;
}
.inputBlock{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

input{
    border:1px solid #e3e3e3;  
    border-radius: 5px;
    background-position: 6% 50%;
    padding:14px;
    max-width: 296px;
    width: 100%;
    /* margin-bottom: 37px; */
    background-repeat: no-repeat;
    box-sizing: border-box;   
}
#input__email{
    background-image: url(./img/email.png);
}
#input__password{
    background-image: url(./img/password.png);
}
::placeholder{
    padding-left: 30px;
    font-size: 14px;
    color: #8c8c8c;  
}
button{
    background-color: #36a2c1; 
    font-size: 18px;
    padding:13px 25px;
    max-width: 94px; 
    color: white;
    border:none;
    box-shadow: 0 2px 5px #2d7f96;
    border-radius: 5px;
}
.title__attention{
    text-align: left;
    font-size: 12px;
    color: #8c8c8c; 
    padding-top: -10px; 
}
.title__link{
    text-decoration: none;
    color: #6cb6ce;
}
.close,.P_close{
    background-image: url(./img/close.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.P_close{
    position: absolute;
    top:40%;
    right: 16%;
}
.stick, .P_stick{
    background-image: url(./img/stick.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.wrong{
    display: block;
    color: red;
    position: absolute;
    bottom: -55%;
    left: 0;
}